{% extends 'shop/basic.html' %}

{% block title %} Py Cart {% endblock %}

{%block style%} .col-md-3
{
display: inline-block;
margin-left:-4px;
}
.carousel-indicators .active {
background-color: blue;
}
.col-md-3 img{
width:100%;
height:auto;
}
body .carousel-indicator li{
background-color: blue;
}
body .carousel-indicators{
bottom: 0;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}
{% endblock %}

{% load static %}
{% load mathfilters %}
{% load custom_filters %}


{% block body %}
<div class="container">
    <div id="demo" class="carousel slide my-3" data-ride="carousel">

        <ul class="carousel-indicators">
            {% for i in range %}
            {% if i == 0 %}
            <li data-target="#demo" data-slide-to="{{i}}" class="active">
                {% else %}
            <li data-target="#demo" data-slide-to="{{i}}">
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <div class="carousel-inner">
            {% for i in range %}
            {% if i == 0 %}
            <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                    {% endif %}

                    {% with x=i|multiply:4%}
                    {% with y=i|multiply_plus_add:4%}


                    {% for prod in products|slice:"X:Y" %}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <h1> {{ x }} -- {{ y }} </h1>
                        <div class="card" style="width: 18rem;">
                            <img src="/media/{{prod.image}}">
                            <div class="card-body">
                                <h5 class="card-title">{{prod.name}}</h5>
                                <p class="card-text">{{prod.description}}</p>
                                <a href="#" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% endwith %}
                    {% endwith %}

                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>
{% endblock %}